body {
    background-color: RGBA(88, 208, 253, 0.21);
    min-height: 100vh;
}

.section {
    padding: 1rem 1.5rem;
    max-width: 750px;
    margin: auto;
}

footer {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
}

/*.map {*/
/*    min-height: 50vh;*/
/*}*/

.title {
    font-weight: 800;
    font-size: 5rem;
}

.is-trashcan {
    color:  #3e8ed0 !important;
}

.subtitle {
    font-family: 'Gamja Flower', cursive;
    font-size: 2rem;

}

.is-sparta {
    color: #3a95e6 !important;
}

.button.is-sparta {
    background-color: #3a95e6;
    border-color: transparent;
    color: #fff !important;
}

.button.is-sparta.is-outlined {
    background-color: transparent;
    border-color: #3a95e6;
    color: #3a95e6 !important;
}

.modal-content {
    width: 600px;
    max-width: 80%;
}

input::-webkit-calendar-picker-indicator {
    display: none;
}

.image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}