<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Webpage Title -->
    <title>
        {% block title %}
            TITLE
        {% endblock %}
    </title>
    <!--    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">-->
    <!--    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">-->
    <meta property="og:title" content="여기 버려!"/>
    <meta property="og:description" content="세상을 깨끗하게"/>
    <meta property="og:image" content="{{ url_for('static', filename='ogimg.png') }}"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <!-- Font Awesome CSS -->
    <script src="https://kit.fontawesome.com/15cc769352.js" crossorigin="anonymous"></script>

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Stylish&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='mystyle.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Stylish&display=swap" rel="stylesheet">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="{{ url_for('static', filename='myjs.js') }}"></script>

    <!-- naver API -->
    <script type="text/javascript"
            src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=t1dsmry018&submodules=geocoder"></script>

    {% block style %}
    {% endblock %}

    {% block script %}
    {% endblock %}
</head>
<body>

<section class="hero is-large" id="hero-header">
    <div class="hero-body has-text-centered header-box">
        <a href="/">
            <div class="title is-sparta" id="title"></div>
        </a>
    </div>
</section>

<nav class="navbar is-transparent" id="nav-main">
    <div class="navbar-menu">
        <div class="navbar-brand" id="nav-logo">
            <a class="navbar-item" href="/">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="logo">
                <strong class="is-sparta" style="font-size: larger;">여기 버려!</strong>
            </a>
        </div>
        <div class="navbar-end" id="nav-login">
            <div class="navbar-item">
                <div class="field is-grouped">
                    <p class="control">
                        {% if user_info %}
                            <a class="button" href="/user/{{ user_info.username }}"><span>마이페이지</span></a>
                            <a class="button" onclick="logout()"><span>로그아웃</span></a>
                        {% else %}
                            <a class="button" href="/login"><span>로그인</span></a>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>

</nav>
{% block content %}
{% endblock %}

<!--<footer>-->
<!--    copyright by 이노베이션 캠프 in 서울 15조-->
<!--</footer>-->
</body>

</html>