{% extends 'base.html' %}
<!--타이틀 위치-->
{% block title %}상세 페이지{% endblock %}

{% block content %}
    <section class="section">
        <div class="box">
            쓰레기통 정보
        </div>
        <div class="box">
            <h2 class="m-1">리뷰 작성</h2>
            <div class="columns m-1">
                <div class="column is-4">
                    <!-- 점수 체크-->
                    <div class="select is-normal" id="select-rate">
                        <label>
                            <select>
                                <option>별점</option>
                                <option>⭐⭐⭐⭐⭐</option>
                                <option>⭐⭐⭐⭐</option>
                                <option>⭐⭐⭐</option>
                                <option>⭐⭐</option>
                                <option>⭐</option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="column is-8">
                    <!-- 리뷰 입력-->
                    <label>
                        <input class="input is-normal" type="text" placeholder="리뷰를 입력하세요." id="input-review">
                    </label>
                </div>
            </div>
            <div class="columns">
                <div class="column is-three-quarters">
                </div>
                <div class="is-one-quarter">
                    <a class="button is-sparta" onclick="add_review()">리뷰 남기기</a>
                </div>
            </div>

        </div>
        <div class="box" id="trashcan-review-box">
            {{ "쓰레기통" }} 리뷰 리스트
        </div>

    </section>


    {% block script %}
        <script>
            $(document).ready(function () {
                $("#hero-header").addClass("is-hidden")
                $("#nav-logo").removeClass("is-hidden")

                // get_trashcan_reviews("test")
            })

            function add_review() {
                //쓰레기통 정보 수정 필요
                let trashcan = "test"
                let stars = $("#select-rate option:selected").val()
                let review = $('#input-review').val()
                let today = new Date().toISOString()
                console.log(stars, review, today)

                if (review === "") {
                    alert("리뷰 내용이 없습니다!")
                    return
                }

                $.ajax({
                    type: 'POST',
                    url: '/reviewing',
                    data: {
                        trashcan_give: trashcan,
                        star_give: stars,
                        review_give: review,
                        date_give: today,
                    },
                    success: function (response) {
                        alert(response['msg'])
                        window.location.reload()
                    }
                })
            }

            function get_trashcan_reviews(trashcanId) {
                console.log(trashcanId)
                $.ajax({
                    type: "GET",
                    url: `/get_trashcan_reviews?trashcan_give=${trashcanId}`,
                    data: {},
                    success: function (response) {
                        let reviews = response["reviews"]

                        for (let i = 0; i < reviews.length; i++) {
                            let review = reviews[i]
                            let time_review = new Date(review["date"])
                            let time_text = time_to_str(time_review)

                            let temp_html = ``
                            temp_html = `<div class="box" id="${review["_id"]}">
                                            <div class="columns">
                                                <div class="column is-4">${review['username']}</div>
                                                <div class="column is-4">${review['star']}</div>
                                                <div class="column is-4">${time_text}</div>
                                            </div>
                                            <div class="columns">
                                                <div class="column is-full"><p>${review['review']}</p></div>
                                            </div>
                                     </div>`

                            $("#trashcan-review-box").append(temp_html)

                        }

                    }
                })
            }
        </script>
    {% endblock %}

{% endblock %}