{% extends 'base.html' %}
{% block title %}마이 페이지{% endblock %}

{% block script %}
    <script>
        $(document).ready(function () {
             $("#hero-header").toggleClass("is-hidden")
            $("#link-mypage").addClass("is-hidden")
            $("#link-home").toggleClass("is-hidden")

            get_user_reviews("{{ user_info.username }}")
        })

        function get_user_reviews(username) {

            $("#user-review-box").empty()

            $.ajax({
                type: "GET",
                url: `/get_reviews?username_give=${username}`,
                data: {},
                success: function (response) {
                    let reviews = response["reviews"]

                    for (let i = 0; i < reviews.length; i++) {
                        let review = reviews[i]
                        let time_review = new Date(review["date"])
                        let time_text = time_to_str(time_review)

                        let temp_html = ``
                        temp_html = `<div class="box" id="${review["_id"]}">
                                        <div class="columns">
                                            {# 쓰레기통 이름 #}
                                            <div class="column is-7">${review['trashcan']}</div>
                                            {# 쓰레기통 별점 #}
                                            <div class="column is-3">${review['star']}</div>

                                            <div class="column is-2">${time_text}</div>
                                        </div>
                                        <div class="columns">
                                            <div class="column is-full"><p>${review['review']}</p></div>
                                        </div>
                                     </div>`
                        $("#user-review-box").append(temp_html)

                    }

                }
            })
        }

    </script>
{% endblock %}


{% block content %}
    <section class="hero is-white">
        <div class="box">
            <h2>유저 정보</h2>
        </div>

    </section>
    <section class="section">
        <h2>리뷰 목록</h2>
        <div id="user-review-box" class="container">
        </div>
    </section>

    <section class="section">

        <h2>즐겨찾기 목록</h2>
        <div id="user-favorite-box" class="container">
        </div>
    </section>

{% endblock %}